.corpoPagina{
  background-color: #b0b0b0;
  height: max-content;
  display: flex;
  flex-direction: column
}

.distribuicaoSite{
  display:flex;
  justify-content: space-evenly;
}

.distribuicaoTopicos{
  background-color: #efefef;
  margin: 2vh 1vw;
  padding: 1rem;
  height: max-content;
}

.topicoNotorioCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: dashed 1px black
}

.topicoNotorioCard h3{
  margin: 0
}

.corpoPagina{
  display: flex;
}

.topicosDiversos{
  width: 100%
}

/* Formulario */

@media (max-width: 850px){
  .topicosDiversos{
    display:none;
  }
  
  .distribuicaoTopicos{
    display: none
  }
}